body{
	padding: 100px;
	margin: 0;
}

.header{
	left: 0;
	right: 0;
	top: 0;
	position: fixed;
	padding: 10px;
	background-color: #EEE;
	border-bottom: 2px solid #DDD;
	height: 75px;
}

.header h1{
	font-size: 35px;
}

.top_nav{
	font-size: 30px;
	position: absolute;
	right: 10px;
	top: 10px;
}

.listing{
	padding: 0;
}

.list{
	list-style: none;
	margin-bottom: 15px;
}

.date{
	color: #999;
}

.location{
	color: #999;
}

.title{
	font-size: 17px;
	margin-right: 8px;
	margin-left: 8px;
}

.pages {
  display: inline-block;
  font-size: 0;
  margin-bottom: 30px;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
}

.pages_button {
  font-size: 16px;
  display: inline-block;
  padding: 8px 15px;
  border-radius: 5px;
}

.pages_display {
  font-size: 16px;
  padding: 0 30px;
  padding: 8px 25px;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
}

.search_section {
	margin-top: 20px;
	margin-bottom: 30px;
}

.search_section input {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  height: 30px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  padding: 0 5px 0 8px;
  width: 400px;
}

.search_section button {
  font-size: 17px;
  height: 30px;
  background-color: white;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
}

.search_button {
  vertical-align: bottom;
}

.magnifying_glass_icon {
  height: 100%;
}